@use '../../styles/global' as *;

.projects{
  &__heading{
    color: $desert-tertiary-offset-color;
    font-weight: 800;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  };

  &__description{
    font-size: .9125rem;
    margin: 0;
  }

  &__name{
    color: #4bb69f;
    font-weight: 800;
    display: flex;
    align-items: flex-end;
    margin: 1% 0;

    &-logo{
      margin: 0 -4px;
    }
  }

  &__links{
    width: 60%;
    display: flex;
  }

  &__link{
    font-size: .8125rem;
    text-decoration: none;
    color: #FFF;
    border: 1px solid $desert-primary-color;
    border-radius: 4px;
    padding: 3%;
    margin: 2% 2% 2% 0;
    background-color: $desert-secondary-offset-color;

    &:hover{
      animation: color-fade-button .4s linear forwards;
    }
  }
}