@use '../../styles/global' as *;

.indepth {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-left{
        align-items: flex-end;
    }

    &-right{
        align-items: flex-start;
    }

    &__wrapper{
        position: relative;
    }
}