@import './variables';

@keyframes float {
    0% {transform: translateY(0)};
    50% {transform: translateY(25%)};
    100% {transform: translateY(0)};
}

@keyframes float-right {
    0% {transform: translateX(0)};
    50% {transform: translateX(25%)};
    100% {transform: translateX(0)};
}
@keyframes float-left {
    0% {transform: translateX(0) scaleX(-1)};
    50% {transform: translateX(-25%) scaleX(-1)};
    100% {transform: translateX(0) scaleX(-1)};
}

@keyframes color-fade-arrow {
    0% {color: $desert-tertiary-offset-color};
    100% {color: $desert-primary-color};
}

@keyframes color-fade-arrow--profile {
    0% {color: #FFF};
    100% {color: $desert-primary-color};
}

@keyframes color-fade-button {
    0% {background-color: $desert-secondary-offset-color};
    100% {background-color: $desert-primary-color};
}

@keyframes leaves-fade-in {
    0% {opacity: 0; }
    100% {opacity: 1;}
}

@keyframes branch-reveal{
    0% {
        stroke-dashoffset: -134.96;
    }
    90% {
        stroke-dashoffset: 0;
    }
}

@keyframes branch-fade-out {
    0%{
        opacity: 1;
    }   
    100%{
        opacity: 0;
    }
}

@keyframes experience-enter {
    0%{
        transform: scaleX(0) scaleY(0);
    }
    50%{
        transform: scaleX(0) scaleY(1);
    }

    100%{
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes quoteTyping {
    0%{
        color: rgba(255, 255, 255,0);
    }
    50%{
        color: rgba(255, 255, 255,1);
    }
    100%{
        color: $desert-primary-color;
    }
}

@keyframes cursor-flash {
    50%{
        color: rgba(255, 255, 255,1);
    }
}

@keyframes cursor-pulse {
    50%{
        color:rgba(255, 255, 255,1);
    }
}