@import '../../styles/global';

@keyframes dance {
    0% {transform: translateY(0)};
    40% {transform: translateY(-4px)};
    60% {transform: translateY(-4px) rotate(20deg)};
    80% {transform: translateY(-4px) rotate(-20deg)};
    90% {transform: translateY(-4px) rotate(0deg)};
    100% {transform: translateY(0) rotate(0deg)};
}

.contact{
    width: 100vw;
    height: 100vh;
    background-color: $slate-secondary-color;

    &__emph{
        color: $dream-secondary-color;
    }
    
    &__wrapper{
        height: 100%;
        padding: 10vh 4vw 0 20vw;
        z-index: 2;
        position: relative;
        display: flex;

        &-body{
            width: 75%;

            &-heading{
                color: $dream-primary-color;
                font-size: 2.6rem;
                font-weight: 600;
                letter-spacing: .6rem;
                border-bottom: 6px solid $dream-primary-color;
                padding-bottom: 8px;
                width: fit-content;
            }
            &-overview{
                color: $slate-primary-offset-color;
                font-size: 1.2rem;
                line-height: 2rem;
                
            }
            &-communication{
                display: flex;
                align-items: center;
                margin: 8px 0;
                width: fit-content;

                &-icon{
                    height: 32px;
                    margin-right: 8px;
                }
    
                &-details{
                    text-decoration: none;
                    color: $slate-primary-offset-color;
                }

                &:hover img{
                    animation: dance 1.4s linear forwards;
                }
            }
        }
        &-nav{
            position: absolute;
            width: 76vw;
            bottom: 0;
            display: flex;
            justify-content: space-evenly;
            
            &-link{
                text-decoration: none;
                background-color: $dream-primary-color;
                color: $slate-primary-offset-color;
                width: 16%;
                display: flex;
                justify-content: center;
                padding: 4px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;

                &:hover{
                    background-color: $dream-secondary-color;
                    font-weight: 600;
                }
            }
        }
    }
}