@use '../../../styles/global';

.branch{
    overflow: visible;
    position: relative;


    &__leaves{
        opacity: 0;

        &--active{
            animation: leaves-fade-in 1s linear 2s forwards;
        }
    }
    &__one{
        stroke-dasharray: 134.960;

        &--active{
            animation: branch-reveal 5s linear 1s reverse forwards;
        }
    }
    &__two{
        stroke-dasharray: 134.960;

        &--active{
            animation: branch-reveal 5s linear 2s reverse forwards;
        }
    }
    &__three{
        stroke-dasharray: 174.96;

        &--active{
            animation: branch-reveal-two 5s linear 3s reverse forwards;
        }
    }
    &--left{
        transform: scaleX(-1);
    }

    &__heading{
        fill: white;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .4rem;
        padding: 10px;
        position: absolute;
        font-size: .625rem;

        &--left{
            transform: scaleX(-1);
        }
    }
}